
@{
    ViewBag.Title = "My Notes";
}
@model List<CloudNoteV1.Models.HomeViewModel>

<div class="container">
    <h2>My Notes</h2>
    <br />
    <p>
        <b>Search Notes:</b> @Html.TextBox("SearchString") <br />
        <br />
        <br />
        </p>
        <table class="table table-bordered" style="background-color:#f2f2f2">

            <tr>
                <th class="col-lg-3">Title</th>
                <th class="col-lg-5">Content</th>
                <th class="col-lg-2">Submission Date</th>
                <th class="col-lg-2">Note Type</th>
                <th class="col-lg-5"></th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td class="someCssStyle">@item.Title</td>
                    <td class="someCssStyle">@item.Content</td>
                    <td class="someCssStyle">@item.SubmissionDate</td>
                    <td class="someCssStyle">@item.Note_Type</td>
                    <td class="someCssStyle">
                        <!--<button type="submit" class="show" formaction="ShowNote" data-id="@item.Title">Show</button>             
                        <button type="submit" class="delete" data-id="@item.Title">Delete</button>
                        <button type="button" class="share" data-id="@item.Title">Share</button>-->
                        @Html.ActionLink("Show", "ShowNote", "Home", new {id = item.item_id }, null)
                    </td>
                </tr>
            }
        </table>

</div>
